<div class="layout-topbar">
  <a
    href="#"
    class="layout-menubutton"
    [ngClass]="{ 'layout-menubutton-active': app.menuActive }"
    (click)="app.onMenuButtonClick($event)"
  >
    <div class="layout-menubutton-icon"></div>
  </a>

  <div class="layout-topbar-grid">
    <div class="layout-title">
      <h1><a href="#"> DATACOLLECT </a></h1>
    </div>

    <div class="layout-topbar-grid-column">
      <app-menu></app-menu>
    </div>

    <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">
      <div class="flex flex-row align-items-center">
        <a
          href="#"
          class="profile-menu-button"
          (click)="app.onTopbarUserMenuButtonClick($event)"
        >
          <img src="assets/layout/images/avatar.png" alt="sapphire-layout" />
        </a>
        <span class="ml-2" style="color: var(--surface-a); font-weight: bold">{{
          "username" | uppercase
        }}</span>
      </div>
      <div
        class="layout-profile-menu fadeInDown"
        [ngClass]="{ 'layout-profile-menu-active': app.topbarUserMenuActive }"
        (click)="app.onTopbarUserMenuClick($event)"
      >
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
</div>
