<p-card class="header-card">
  <div class="flex w-full justify-content-between mb-5">
    <app-title catalog="Facilities" titlePage="List"></app-title>

    <div class="flex flex-column align-items-end">
      <button
        pButton label="New"
        class="p-button-info mb-3" routerLink="/facility/add"
      ></button>

      <app-search (termEvent)="setTerm($event)"></app-search>
    </div>
  </div>
</p-card>

<p-card>
  <p-table
  [value]="paginatedFacilities.result" responsiveLayout="scroll" [paginator]="true"
  [rows]="paginatedFacilities.elementsByPage" [totalRecords]="paginatedFacilities.totalElements"
  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50, 100]" [loading]="loading"
  [loading]="loading" [lazy]="true" (onLazyLoad)="loadFacilities($event)"
  >
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="concept">
        Concept <p-sortIcon field="concept"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-facility let-rowIndex="rowIndex">
    <tr>
      <div *ngIf="rowIndex < 5; else elseBlock">
        <p-badge value="New" styleClass="mr-2"></p-badge>
        <br>
        <td>{{ facility.concept }}</td>
      </div>
      <ng-template #elseBlock>
        <td>{{ facility.concept }}</td>
      </ng-template>
      <td>{{ facility.description }}</td>
      <td>
        <button pButton icon="pi pi-user-edit" class="mr-2 p-button-warning p-button-rounded"
          [routerLink]="['/facility/edit/', facility.id]"></button><button pButton icon="pi pi-times"
          class="p-button-danger p-button-rounded" (click)="showRemoveDialog(facility.id)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8"><h2>No records found</h2></td>
    </tr>
  </ng-template>
  </p-table>
</p-card>

<p-confirmDialog rejectButtonStyleClass="p-button-text"></p-confirmDialog>
