<div class="card">
  <p-table [value]="accountErrors" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>No Cuenta</th>
              <th>Descripción</th>
              <th>Tipo de valor</th>
              <th>Valor con error</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-accountError>
          <tr>
              <td>{{accountError.accountValue.accountValue.account.accountNumber}}</td>
              <td>{{accountError.accountValue.accountValue.account.name}}</td>
              <td>{{accountError.accountValue.accountValue.typeValue.name}}</td>
              <td>{{accountError.valueError}}</td>
          </tr>
      </ng-template>
  </p-table>
</div>
