<ng-container>
  <a
    [attr.href]="item.url"
    (click)="itemClick($event)"
    *ngIf="!item.routerLink || item.items"
    (mouseenter)="onMouseEnter()"
    (keydown.enter)="itemClick($event)"
    pRipple
    [attr.target]="item.target"
    [attr.tabindex]="0"
  >
    <i *ngIf="item.icon" [ngClass]="item.icon"></i>
    <span class="menuitem-text">{{ item.label }}</span>
    <i
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.items"
    ></i>
    <span class="menuitem-badge" *ngIf="item.badge">{{ item.badge }}</span>
  </a>
  <a
    (click)="itemClick($event)"
    (mouseenter)="onMouseEnter()"
    *ngIf="item.routerLink && !item.items"
    [routerLink]="item.routerLink"
    routerLinkActive="active-menuitem-routerlink"
    pRipple
    [routerLinkActiveOptions]="{ exact: true }"
    [attr.target]="item.target"
    [attr.tabindex]="0"
  >
    <i *ngIf="item.icon" [ngClass]="item.icon"></i>
    <span class="menuitem-text">{{ item.label }}</span>
    <i
      class="pi pi-fw pi-angle-down layout-submenu-toggler"
      *ngIf="item.items"
    ></i>
    <span class="menuitem-badge" *ngIf="item.badge">{{ item.badge }}</span>
  </a>
  <span class="layout-megamenu-submenu-text" *ngIf="!root && mega">
    {{ item.label }}
  </span>

  <div
    class="layout-submenu-container"
    *ngIf="item.items && (active || (!root && mega))"
    [ngClass]="{ 'layout-submenu-megamenu-container': mega }"
    [ngStyle]="{ padding: active ? '' : '0' }"
    [@children]="
      app.horizontal && !app.isMobile() && root
        ? active
          ? 'visible'
          : 'hidden'
        : !root && mega
        ? 'visible'
        : active
        ? 'visibleAnimated'
        : 'hiddenAnimated'
    "
  >
    <ul class="layout-submenu" [ngClass]="{ 'layout-megamenu': item.mega }">
      <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
        <li
          app-menuitem
          [item]="child"
          [index]="i"
          [parentKey]="key"
          [mega]="item.mega"
          [class]="child.badgeClass"
        ></li>
      </ng-template>
    </ul>
  </div>
</ng-container>
